/* GERAL */
body{
	background:;
}
/* FIM GERAL */

/* INÍCIO BOTÃO FECHAR */
.busca form .busca-close{
	flex:0 0 auto;
	padding:10px 5px 10px 5px;
	height:40px;
	width:40px;
	text-align:center;
	line-height:0px;
	font-size:22px;
	font-weight:700;
	color:#515151;
	cursor:pointer;
}

.busca .busca-close:after,.busca .busca-close:before{
	content:"";
	height:25px;
	width:2px;
	background-color:#fff;
	position:absolute;
	top:20px;
	margin:auto;
	/* left:15px; */
}

.busca .busca-close:before{
	transform:rotate(-45deg)
}

.busca .busca-close:after{
	transform:rotate(45deg)
}
/* FIM BOTÃO FECHAR */

/* INÍCIO BUSCA */
.busca{
	/* display:none; */
	/* z-index: 999; */
	display:block;
	/* margin-left: 20px; */
	margin-top:0px;
}

.busca img {
	cursor: pointer; 
	padding: 12px 0; 
	z-index: 9;
	position: absolute; 
	top: 10px; 
	right: 15px;
}

.busca form{
	display:none; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 65px; 
	align-items: center; 
	padding: 0px 5px 0px 0px; 
	background: #0b0c1b; 
	z-index: 8; 
	box-sizing: border-box;
}

.busca form input{
	flex:1 1 auto;
	border-radius:20px;
	box-shadow:0 3px 6px rgba(0,0,0,.16);
	border:#9193a8 1px solid;
	padding:10px 10px;
	font-size:15px;
	color:#fff;
	width:100%;
	outline: none;
	background:#30334a;
	left:0px;
}

.busca.active form{
	display:flex;
}

@media(max-width:480px){
	.busca form{ 
		height: 60px;
	}
	.busca img {
		top: 8px; 
	}
	.busca .busca-close:after,.busca .busca-close:before{
		top:18px;
	}
}

@media(max-width:414px){
	.busca form{ 
		height: 60px;
	}
	.busca img {
		top: 8px; 
	}
	.busca .busca-close:after,.busca .busca-close:before{
		top:18px;
	}
}

@media(max-width:360px){
	.busca form{ 
		height: 60px;
	}
	.busca img {
		top: 8px; 
	}
	.busca .busca-close:after,.busca .busca-close:before{
		top:18px;
	}
}

@media(max-width:320px){
	.busca form{ 
		height: 55px;
	}
	.busca img {
		top: 5px; 
	}
	.busca .busca-close:after,.busca .busca-close:before{
		top:15px;
	}
}

/* FIM BUSCA */
