
.menu_right {
    float: right;
    width: 5%;
    text-align: right;
	padding-right:0px;
	padding-top:5px;
}

.menu_right img{
    color: #ff0000;
	height:20px;
	width:auto;
}

.wrapper_dropdown_1 {
	outline: none;
	position: relative;
    cursor: pointer;
}

.wrapper_dropdown_1.active .dropdown_menu {
   max-height: 400px;
}

.wrapper_dropdown_1 ul {
	margin: 0; 
	padding: 0;

}

.wrapper_dropdown_1 .dropdown_menu  {
	width:160px;
	top:22px;
    position: absolute;
    right: 17%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    list-style: none;
    z-index:999;
    background-color: #FFF;
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
	-o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    max-height: 0;
    overflow: hidden;
	border-radius: 5px;
}

.wrapper_dropdown_1 .dropdown_menu li {
	padding:10px;
	position: relative;
	border-bottom: 0px solid #F0F0F0;
	float: none;
	margin: 0;
	width: 100%;
    text-align: left;
	font-size:13px;
}

.wrapper_dropdown_1 .dropdown_menu li a {
    display: block;
	text-decoration: none;
	color:#232323;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 0;
    border: none;
}
