
/*-------------------- INÍCIO MENU ----------------------*/

/*-- INÍCIO MENU BUTTON --*/
.menu-icon{
    float: left;
    width: 33.33%;
	padding-left:15px;
}

.menu-button {
    position: relative;
    z-index: 8;
    padding: 0;
    width: 2.8em;
    height: 2em;
    border: none;
    text-indent: 2.8em;
    font-size: 0.52em;
    color: transparent;
    background: transparent;
    outline: none;
    margin: .1em 0;
	cursor:pointer;
}

.menu-button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	background: -webkit-linear-gradient(#ffffff 20%, transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%, transparent 80%, #ffffff 80%);
	background: linear-gradient(#ffffff 20%, transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%, transparent 80%, #ffffff 80%);
    content: '';
}
/*-- FIM MENU BUTTON --*/

/*-- INÍCIO MENU OCULTO --*/
.menu-wrap {
    position: fixed;
    z-index: 99;
    width: 200px !important;
    height: 100% !important; 
    background: #0b0c1b; /*-- cor do menu oculto --*/
    -webkit-transform: translate3d(-320px,0,0);
	-moz-transform: translate3d(-320px,0,0);
	-o-transform: translate3d(-320px,0,0);
	-ms-transform: translate3d(-320px,0,0);
    transform: translate3d(-320px,0,0);
    -webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s; 
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-moz-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1); 
	overflow-y:auto !important;
}

/*-- Início barra de rolagem do menu --*/
.nicescroll-cursors {
    background-color: #484848 !important;
    border: 1px solid #484848;
}

#style-1::-webkit-scrollbar-track{ 
	border-radius: 10px;
	background-color: #30334a;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #30334a;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #30334a;
    border: 1px solid #30334a !important;
}
/*-- Fim barra de rolagem do menu --*/

.top-nav li { 
	display:block;
}

.top-nav li.menu-title {
    font-size: 1.3em;
    padding: 1em 0.8em;
    text-align: left;
    color: #fff;
    border-bottom: 1px solid #9193a8;
    text-transform: none;
    background: #0b0c1b; /* cor do menu */
    font-family: 'Abel', sans-serif;
	-webkit-transform: translate3d(0,500px,0);
    -moz-transform: translate3d(0,500px,0);
    -o-transform: translate3d(0,500px,0);
    -ms-transform: translate3d(0,500px,0);
    transform: translate3d(0,500px,0);
}


.top-nav li a {
    font-size: 0.85em;
    color: #fff; /* cor da font menu 9193a8*/
    font-weight: 300; 
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
	outline: none;
	text-decoration: none;
} 

.top-nav li a:hover,.top-nav li a.active { 
    background:;
}

/* -- INÍCIO LISTA MENU --*/
.icon-list {
	height: 400px !important;
	-webkit-transform: translate3d(0,100%,0);
	-moz-transform: translate3d(0,100%,0);
	-o-transform: translate3d(0,100%,0);
	-ms-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	margin-bottom: 1.5em;
}

.icon-list a {
    display: block;
    padding: 1em 1em; /*-- altura / largura--*/
    -webkit-transform: translate3d(0,500px,0);
	-moz-transform: translate3d(0,500px,0);
	-o-transform: translate3d(0,500px,0);
	-ms-transform: translate3d(0,500px,0);
    transform: translate3d(0,500px,0);
} 

.icon-list a:nth-child(2) {
	-webkit-transform: translate3d(0,1000px,0);
	-moz-transform: translate3d(0,1000px,0);
	-o-transform: translate3d(0,1000px,0);
	-ms-transform: translate3d(0,1000px,0);
	transform: translate3d(0,1000px,0);
}

.icon-list a:nth-child(3) {
	-webkit-transform: translate3d(0,1500px,0);
	-moz-transform: translate3d(0,1500px,0);
	-o-transform: translate3d(0,1500px,0);
	-ms-transform: translate3d(0,1500px,0);
	transform: translate3d(0,1500px,0);
}

.icon-list a:nth-child(4) {
	-webkit-transform: translate3d(0,2000px,0);
	-moz-transform: translate3d(0,2000px,0);
	-o-transform: translate3d(0,2000px,0);
	-ms-transform: translate3d(0,2000px,0);
	transform: translate3d(0,2000px,0);
}

.icon-list a:nth-child(5) {
	-webkit-transform: translate3d(0,2500px,0);
	-moz-transform: translate3d(0,2500px,0);
	-o-transform: translate3d(0,2500px,0);
	-ms-transform: translate3d(0,2500px,0);
	transform: translate3d(0,2500px,0);
}

.icon-list a:nth-child(6) {
	-webkit-transform: translate3d(0,3000px,0);
	-moz-transform: translate3d(0,3000px,0);
	-o-transform: translate3d(0,3000px,0);
	-ms-transform: translate3d(0,3000px,0);
	transform: translate3d(0,3000px,0);
}
/* -- FIM LISTA MENU --*/


/*-- INÍCIO CLOSE BUTTON --*/
.close-button {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 0.5em;
    overflow: hidden;
    text-indent: 1em;
    font-size: 1.1em;
    border: none;
    background: transparent;
    color: transparent;
    outline: none;
	z-index: 999;
	cursor:pointer;
}

.close-button::before, .close-button::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left:7px;
    background: #fff;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/*-- FIM CLOSE BUTTON --*/

 
/*-- Shown menu --*/
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -moz-transform 0.8s; 
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-moz-transition-timing-function: cubic-bezier(0.7,0,0.3,1); 
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list,
.show-menu .icon-list a {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: transform 0.8s; 
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-moz-transition-timing-function: cubic-bezier(0.7,0,0.3,1); 
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list a {
	-webkit-transition-duration: 0.9s;
	-moz-transition-duration: 0.9s; 
	transition-duration: 0.9s;
}
.show-menu li.menu-title {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.show-menu .conteudo::before {
	opacity: 0;
	-webkit-transition: opacity 0.8s;
	-moz-transition: opacity 0.8s; 
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-moz-transition-timing-function: cubic-bezier(0.7,0,0.3,1); 
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*-------------------- FIM MENU ----------------------*/

