
.resultado_geral {
	/* padding:0px 10px 0px 10px; */
	background:#fff;
}

.pesquisa_branco{
	margin-top:130px;
}

.nao_ocorrencia{
	margin-top:130px;
	font-size:16px;
}

.ocorrencia{
	margin-top:80px;
	font-size:14px;
	/* background:#ffff00; */
	padding:0px 10px 0px 10px;
	border-bottom:1px solid #ccc;
	margin-left:10px;
	margin-right:10px;
}

/* .separar_ocorrencia { */
	/* font-size:14px; */
	/* height:1px; */
	/* margin-left:10px; */
	/* margin-right:10px; */
	/* background:#ccc;	 */
/* } */

.style_resultado { /* autocomplete JS */
	padding-left:5px;
	padding-right:0px;
	/* display:block; */
	font-size:18px;
	font-family:sans-serif; 
	color:#000;
	border-bottom:1px solid #ccc;
	margin-left:10px;
	margin-right:10px;
}

.style_resultado a{
	width:100%;
	display:block;
	padding-bottom:5px;
	padding-top:5px;
}

.style_resultado_link{ /* autocomplete JS */
	color:#000;
	text-decoration:none;
	font-size:19px;
}

.style_resultado_link:hover{ /* autocomplete JS */
	color:#000;
}

.conteudo_resultado {
	position: relative; 
	margin-top:70px;
	margin-bottom:50px;
	width:100%;
}

/*-- responsivo --*/ 
@media(min-width:1024px){


}

@media(max-width:736px){

}

@media(max-width:667px){

}

@media(max-width:640px){

}

@media(max-width:600px){

}

@media(max-width:568px){

}

@media(max-width:480px){

}

@media(max-width:414px){
	.pesquisa_branco{
		margin-top:75px;
	}
	.nao_ocorrencia{
		margin-top:75px;
	}
	.ocorrencia{
		margin-top:75px;
	}
}

@media(max-width:384px){

}

@media(max-width:375px){

}

@media(max-width:360px){
	.pesquisa_branco{
		margin-top:75px;
	}
	.nao_ocorrencia{
		margin-top:75px;
	}
	.ocorrencia{
		margin-top:75px;
	}
}

@media(max-width:320px){
	.pesquisa_branco{
		margin-top:70px;
	}
	.nao_ocorrencia{
		margin-top:70px;
	}
	.ocorrencia{
		margin-top:70px;
	}
}
/*-- FIm responsivo --*/ 